body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2c3e50;
   
}

.logo img{
    height: 70px;
}

.cart {
    font-size: 18px;
}

nav {
    background-color: #4272a3;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin: 0;
    flex: 1;
    text-align: center;
}

nav ul li a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    background-color: #2c3e50;
    color: #ffffff;
}

.search-bar {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.search-bar input[type="search"] {
    border: none;
    padding: 10px;
    outline: none;
    width: 300px;
}

.search-bar button {
    background-color: #21a3b4;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #2b89c0;
}

.product {
    border: 5px solid black;
    border-radius: 10px;
    padding: 5px;
    width: 100px;
    height: 80px;
    float: left;
    margin: 10px;
}

.loga {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px; /* Ocupa a altura total da janela */
    margin-top: 20px; /* Centraliza horizontalmente */
    background-color: #2c3e50; /* Fundo azul */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px #2c3e50; /* Bordas arredondadas */
    width: 300px; /* Largura fixa para o bloco */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
}