body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2c3e50;
    border-bottom: 1px solid #2c3e50;
}

.logo img {
    height: 70px;
}

.cart {
    font-size: 18px;
    color: white;
}

nav {
    background-color: #4272a3;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin: 0;
    flex: 1;
    text-align: center;
}

nav ul li a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    background-color: #2c3e50;
    color: #ffffff;
}

.search-bar {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.search-bar input[type="search"] {
    border: none;
    padding: 10px;
    outline: none;
    width: 300px;
}

.search-bar button {
    background-color: #21a3b4;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #2b89c0;
}

.product {
    border: 1px solid #2c3e50;
    border-radius: 10px;
    padding: 5px;
    width: 100px;
    height: 80px;
    float: left;
    margin: 10px;
}


.container {
    display: flex;
    gap: 20px;
    border-radius: 15px;
}

.table-container {
    float: left;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    margin-left: 10px;
    border-radius: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.comp{
    justify-content: center;
    align-items: center;
}
.compare-button {
    margin-top: 20px;
    text-align: center;
}

.compare-button button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.compare-button button:hover {
    background-color: #45a049;
}

.pri{
    width: 100px; /* Largura da div */
    height: 100px; /* Altura da div */
    margin: 10px; /* Espaçamento entre as divs */
    background-color: lightblue; /* Cor de fundo das divs */
    display: flex; /* Para centralizar o texto dentro das divs */
    justify-content: center; /* Centraliza o texto horizontalmente */
    align-items: center; /* Centraliza o texto verticalmente */
    border: 1px solid #000; /* Borda para visualizar as divs */

}
.sec{
    width: 100px; /* Largura da div */
    height: 100px; /* Altura da div */
    margin: 10px; /* Espaçamento entre as divs */
    background-color: lightblue; /* Cor de fundo das divs */
    display: flex; /* Para centralizar o texto dentro das divs */
    justify-content: center; /* Centraliza o texto horizontalmente */
    align-items: center; /* Centraliza o texto verticalmente */
    border: 1px solid #000; /* Borda para visualizar as divs */

}

